<main class="hotel-card-container">
  <div
    class="hotel-card"
    [ngClass]="{ 'active-hotel': isActive }"
    (click)="makeHotelActive()"
  >
    <section class="hotel-details-section">
      <img src="{{ imgSrc }}" alt="property photo" />
      <section class="details-section">
        <div class="hotel-title">
          {{ hotel.title }}
        </div>
        <div class="hotel-details">
          {{ hotelAddress }}
        </div>
        <div class="hotel-distance">
          {{ hotel.distance + distanceText }}
        </div>
      </section>
    </section>
    <button class="book-btn">Book</button>
  </div>
</main>
