@mixin vertical-line-text-truncate($val) {
  display: -webkit-box;
  -webkit-line-clamp: $val;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.hotel-card-container {
  .hotel-card {
    height: 200px;
    width: 270px;
    background: white;
    padding: 15px;
    margin: 20px 5px;
    overflow-y: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0 0 0);
    .hotel-details-section {
      display: flex;
      gap: 15px;
      .hotel-title {
        font-weight: bold;
        @include vertical-line-text-truncate(2);
      }
      .details-section {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .hotel-details {
          margin-top: 15px;
          font-size: 14px;
          color: grey;
          @include vertical-line-text-truncate(3);
        }
        .hotel-distance {
          margin-top: 15px;
          font-size: 12px;
          color: grey;
          font-weight: bold;
        }
      }
    }
    .book-btn {
      margin-top: 11px;
      padding: 12px;
      border: none;
      background: darkorange;
      color: white;
    }
  }
  .active-hotel {
    background-color: #c9cca7;
    min-width: 250px;
  }
}
