@import "../../../shared/styles/ui.scss";

.hotel-card-container {
  .hotel-card {
    height: 200px;
    width: 270px;
    background: white;
    padding: 15px;
    margin: 20px 5px;
    overflow-y: auto;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    box-shadow: 0 0 10px rgb(0 0 0);
  }
  .active-hotel {
    background-color: $color-main-2;
    min-width: 250px;
  }
}
