<!-- Header -->
<app-header></app-header>

<!-- Google Map -->
<app-google-map
  (markerClicked)="_handleScrollOfHotelCardIntoView($event)"
></app-google-map>

<!-- Hotel info horizontal list -->
<section
  class="card-container"
  (scroll)="onScroll($event)"
  *ngIf="hotelService.hotels.length !== 0"
>
  <div *ngFor="let hotel of hotelService.hotels; let i = index">
    <div #hotel>
      <app-hotel-card
        [hotel]="hotel"
        [hotelIndex]="i"
        [isActive]="isHotelActive(i)"
        (cardClicked)="makeHotelActive($event)"
        (bookHotel)="openBookingDIalog($event)"
      ></app-hotel-card>
    </div>
  </div>
</section>

<!-- Hotel Booking Dialog -->
<app-dialog #book_dialog>
  <app-hotel-booking-form
    [hotel]="bookHotelSrc"
    (requestBooking)="doRequestBooking()"
    *ngIf="!isBookingConfirmed"
  ></app-hotel-booking-form>
  <app-hotel-booking-success
    *ngIf="isBookingConfirmed"
  ></app-hotel-booking-success>
</app-dialog>
