<!-- <div id="map"></div> -->
<app-header></app-header>
<div #map style="width: 100%; height: 100%"></div>
<!-- Hotel info horizontal list -->
<section class="card-container">
  <div *ngFor="let hotel of hotelList; let i = index">
    <div #hotel>
      <app-hotel-card
        [hotel]="hotel"
        [hotelIndex]="i"
        [isActive]="isHotelActive(i)"
        (cardClicked)="makeHotelActive($event)"
        (bookHotel)="openBookingDIalog($event)"
      ></app-hotel-card>
    </div>
  </div>
</section>
<!-- Hotel Booking Dialog -->
<app-dialog #book_dialog>
  <app-hotel-booking-form
    [hotel]="bookHotelSrc"
    (requestBooking)="doRequestBooking()"
    *ngIf="!isBookingConfirmed"
  ></app-hotel-booking-form>
  <app-hotel-booking-success
    *ngIf="isBookingConfirmed"
  ></app-hotel-booking-success>
</app-dialog>
