<main class="hotel-booking-form-container">
  <h4>{{ titleText }}</h4>

  <!-- Form details -->
  <div>
    <app-hotel-details-img [hotel]="hotel"></app-hotel-details-img>
    <form [formGroup]="bookingForm" novalidate>
      <!-- name -->
      <section>
        <div class="label-input">
          <label for="name">Name </label>
          <div class="label-input-val-error">
            <input type="text" id="name" name="name" formControlName="name" />
            <div class="invalid-error" *ngIf="isFormItemInvalid('name')">
              Name is required
            </div>
          </div>
        </div>
      </section>

      <!-- email -->
      <section>
        <div class="label-input">
          <label for="email">Email </label>
          <div class="label-input-val-error">
            <input
              type="text"
              id="email"
              name="email"
              formControlName="email"
            />
            <div class="invalid-error" *ngIf="isFormItemInvalid('email')">
              email is required
            </div>
            <div
              class="invalid-error"
              [hidden]="!getValue('email')?.errors?.email"
            >
              invalid email id
            </div>
          </div>
        </div>
      </section>

      <!-- phone -->
      <section>
        <div class="label-input">
          <label for="phone">Phone </label>
          <div class="label-input-val-error">
            <input
              type="number"
              id="phone"
              name="phone"
              formControlName="phone"
            />
            <div class="invalid-error" *ngIf="isFormItemInvalid('phone')">
              phone is required
            </div>
          </div>
        </div>
      </section>

      <!-- persons -->
      <section>
        <div class="label-input">
          <label for="persons">Persons </label>
          <div class="label-input-val-error">
            <input
              type="number"
              id="persons"
              name="persons"
              formControlName="persons"
            />
            <div class="invalid-error" *ngIf="isFormItemInvalid('persons')">
              persons is required
            </div>
          </div>
        </div>
      </section>

      <!-- checkInDate -->
      <section>
        <div class="label-input">
          <label for="checkInDate">Check-in </label>
          <div class="label-input-val-error">
            <input
              type="date"
              id="checkInDate"
              name="checkInDate"
              formControlName="checkInDate"
            />
            <div class="invalid-error" *ngIf="isFormItemInvalid('checkInDate')">
              Check-in Date is required
            </div>
          </div>
        </div>
      </section>
    </form>
    <app-button
      (btnClicked)="makeBooking()"
      [label]="'Request Booking'"
      [disabled]="!bookingForm.valid"
    ></app-button>
  </div>
</main>
